Repository praveenkumarbesantpearl-new/test: changes, and which Jenkins stages are due for each by the changed paths.
All: test, test2, test3

Jenkinsfile:

pipeline{
    agent any
    stages{
        stage("test"){
            when{
                changeset "uuu"
            }
            steps{
                echo "step1 is sucess"
            }
            
        }
        stage("test2"){
            when{
                changeset "uuu"
            }
            steps{
                echo "step2 is sucess"
            }
        }
        stage("test3"){
            when{
                anyOf{
                    changeset "uuu"
                    changeset "ttt"
                }
            }
            steps{
                echo "test is success"
            }
        }
    }
    post{
        always{
            echo "Should even if its sucess or failure"
        }
        success{
            echo "build is success"
        }
        failure{
            echo "Build is failure"
        }
    }
}

Update ff
  ff
Due: none

Update uuu
  uuu
Due: test, test2, test3

Update ttt
  ttt
Due: test3

Rename Jenkinsfile to Jenkinsfile_old
  Jenkinsfile_old
Due: none

Create Jenkinsfile
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Update tt
  tt
Due: none

Rename Jenkinsfile to Jenkinsfile_old22
  Jenkinsfile_old22
Due: none

Create praveen.yaml
  praveen.yaml
Due: none

Update praveen.yaml
  praveen.yaml
Due: none
